/target
.*.sw*
**/target
.vscode/*
Cargo.lock
.idea
plotters/area_series.svg
plotters/chart_builder_on.svg
plotters/composable.svg
plotters/configure_axes.svg
plotters/configure_series_labels.svg
plotters/cuboid.svg
plotters/error_bars_vertical.svg
plotters/font_desc_color.svg
plotters/histogram_vertical.svg
plotters/into_text_style.svg
plotters/label_area_position.svg
plotters/line_series_point_size.svg
plotters/shape_style_filled.svg
plotters/shape_style_stroke_width.svg
plotters/surface_series_style_func.svg
plotters/surface_series_xoz.svg
plotters/with_anchor.svg
plotters/with_color.svg
