[package]
name = "plotters"
version = "0.2.11"
authors = ["Hao Hou <haohou302@gmail.com>"]
edition = "2018"
license = "MIT"
description = "A Rust drawing library focus on data plotting for both WASM and native applications"
repository = "https://github.com/38/plotters"
keywords = ["WebAssembly", "Visualization", "Plotting", "Drawing"]
categories = ["visualization", "wasm"]
readme = "README.md"
exclude = ["doc-template/*"]

[dependencies]
chrono = { version = "0.4.9", optional = true }
svg = { version = "0.6.0", optional = true }
num-traits = { version = "^0.2", optional = true }
palette = { version = "^0.4", default-features = false, optional = true }
gif = { version = "^0.10.3", optional = true }
cairo-rs = { version = "0.7.1", optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
rusttype = "0.8.1"
lazy_static = "^1.2"
font-kit = "0.4.0"
piston_window = {version = "0.105.0", optional = true}

[target.'cfg(not(target_arch = "wasm32"))'.dependencies.image]
version = "0.22.3"
optional = true
default_features = false
features = ["jpeg", "png_codec", "bmp"]

[target.'cfg(target_arch = "wasm32")'.dependencies]
js-sys= "0.3.29"
wasm-bindgen = "0.2.52"

[target.'cfg(target_arch = "wasm32")'.dependencies.web-sys]
version = "0.3.29"
features = ['Document', 'DomRect', 'Element', 'HtmlElement', 'Node', 'Window', 'HtmlCanvasElement', 'CanvasRenderingContext2d']

[features]
default = ["image_encoder", "svg", "chrono", "palette_ext", "make_partial_axis", "gif_backend"]
image_encoder = ["image"]
palette_ext = ["palette", "num-traits"]
gif_backend = ["gif"]
datetime = ["chrono"]
evcxr = ["svg"]
piston = ["piston_window"]
make_partial_axis = ["num-traits"]
cairo = ["cairo-rs"]


[dev-dependencies]
rand = "^0.7.2"
itertools = "^0.8.0"
rand_distr = "0.2.2"
criterion = "0.3.0"
rayon = "1.2.0"

[[bench]]
name = "benchmark"
harness = false
path = "benches/main.rs"
