.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: max-content;
}

#coord {
    color: grey;
    font-size: 10px;
    height: 15px
}

#status {
    color: grey;
    font-size: 10px
}

#control {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px
}

#control label {
    font-weight: bold;
}

#pow {
    width: 300px;
    float: right;
}

#links {
    margin-top: 50px;
    font-size: 12px;
}
