.centered {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: max-content;
}

.control {
	margin-left: auto;
	margin-right: auto;
	width: 400px
}

#pow {
	width: 300px;
	float: right;
}

