name: WASM Target

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      with:
          submodules: recursive
    - name: Install WASM tool chain
      run: rustup target add wasm32-unknown-unknown
    - name: Check WASM Target Compiles
      run: cargo build --verbose --target=wasm32-unknown-unknown
    
